body{
    font-family: "Roboto",
    sans-serif;
    color:#434455 ;
    background-color: #FFFFFF;

}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

img{
    display: block;

}

.container{
max-width:1158px;
margin: 0 auto;
padding: 0 15px;
}


/* header */

.header{
border-bottom: 1px solid #e7e9fc;
}

header > .container{
    display: flex;
}

.logo-studio{
    color:#2E2F42;
}

.logo{
font-family: "Raleway",
    sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px
}

.navigation  {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 61px 24px;
  
}

.nav{
   font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: row;
    padding-left: 76px;
    gap: 40px;
    padding-right: 0;
    margin-right: 0;
            
       
}

.nav-link{
text-decoration: none;
color: #2E2F42;
padding: 24px 0;
}

.nav-link:hover, .nav-link:focus{
color:#404BBF;
text-decoration: none;
}

.address{
font-style:normal;
display: flex;
flex-direction: row;
}

.nav-li{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 40px;
}

.contacts-link{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
       
      
}
.contacts-link:hover,
.contacts-link:focus{
    color: #404BBF;
}

/* section 1 */
.section-one{
    background-color:#2E2F42;
    text-align: center;
    padding: 188px 0;
}
.title-one{
font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color:#FFFFFF;
    padding-top: 188px;
    padding-bottom: 292px;
    margin-bottom: 48px;
    padding-left: 472px ;
    padding-right: 472px;
    max-width: 496px;
}

.service{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color:#4D5AE5;
    cursor: pointer;
    color: #ffffff;
    height: 56px;
    display: block;
    min-width: 169px;
    border: none;
    border-radius: 4px;

 
  

}

.service:hover,
.service:focus{
    color: #404BBF;
    background: #404BBF;
    cursor: pointer;
    height: 56px;
}

.button-text{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
}

/* section 2 */

.section-two{
    padding: 120px 0;
}

.visually-hidden{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }


.about-us-conteiner{
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin:0;
    
}

.section-two-list{
width: calc((100% - 72px) / 4);
}

.about-us{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
        
}
.description{
    
        font-weight: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#434455;
}

/* section 3 */


.section-three-list{
display: flex;
gap: 24px;
padding-bottom: 120px;
width: calc((100% - 72px) / 4);
}

.section-three{
background-color:#F4F4FD;
text-align: center;
padding: 120px 0;
}

.list{
background-color: #FFFFFF;
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;

}

.section-three-name{
padding: 32px 0;
}

.title-two{
   
        font-weight:bold;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
       color:#2E2F42;
       padding-top: 120px;
       padding-left: 639px;
       padding-right: 639px;
       margin-bottom: 72px;
    
}
.name{

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2E2F42;
    text-align: center;
    margin-bottom: 8px;

}
.job-title{

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    text-align: center;
}

/* section 4 */

.section-four{
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list{
    display: flex;
    flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 24px;
        padding-bottom: 120px;
        row-gap: 48px;
}

.section-four-img{
width: calc((100% - 48px) / 3);
}

.section-four-name{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
margin-bottom: 8px;
}

.portfolio{
        
    font-weight:bold;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color:#2E2F42;
    margin-bottom: 72px;
   
}
.title-three{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
        
}
.app{
   font-weight: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#434455;
}

.footer{
    background-color: #2E2F42;
    padding: 100px 0;
}
.logo-footer{
font-family: "Raleway",
    sans-serif;
    text-decoration: none;
    font-weight:bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4D5AE5;
    padding-top: 100px;
        padding-right: 1169px;
        padding-left: 156px;
        margin-bottom: 16px;
        display: inline-block;
}

.logo-studio-two{
color: #F4F4FD;

}
.text-footer{
        font-weight:normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#F4F4FD;
        padding-bottom: 100px;
        padding-left: 156px;
        padding-right: 1020px;
}